@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 50%;
  margin: 50px auto;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
}

.box1 {
  background: #000;
}
.box2 {
  background: #2e2e2e;
}
.box3 {
  background: #636363;
}
.box4 {
  background: #afafaf;
}
.box5 {
  background: #e2e2e2;
}
